{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registration</title>
    <!-- <link rel="stylesheet" type="text/css" href="{% static 'css/registration.css' %}"> -->
    <link rel="stylesheet" type="text/css" href="{% static 'css/normalize.css' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/signup.css' %}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>

    <link href="https://fonts.googleapis.com/css2?family=JetBrains+Mono&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Fira+Code&display=swap" rel="stylesheet">

</head>
<body>
    <div id="left_section">
        <br>
        <div id="main_section">
            <p id="message">Hello, Friend!</p>  
            <form action="/registering/" method="post">
                {% csrf_token %}
                <input type="text" name="name" class="registration_form" placeholder="Name" minlength="8" maxlength="30" required>
                <br>
                <input type="email" name="email" class="registration_form" placeholder="E-mail" minlength="4" maxlength="25">
                <br>
                <input type="password" name="password" class="registration_form" placeholder="Password" minlength="10" maxlength="40">
                <br>
                <input type="submit" name="submit_button" value="Sign Up" class="rainbow-border">
            </form>
        </div>
    </div>

    <div id="container_image">
		<img src="{% static 'img/p.jpg' %}" alt="Proof" id="theimage">
    </div>
</body>
</html>