body {
    background-color: #ffffff;
    /* justify-content: center; */
    /* align-items: center; */
    /* display: flex; */
}

#right_section {
    text-align: center;
    width: 32vw;
    height: 100vh;
    background: rgb(34,193,195);
    background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(20,255,114,1) 100%);
}

#main_section {
    position: relative;
    top: 25%;
}

#message {
    color: #000000;
    text-align: center;
    font-family: 'JetBrains Mono', monospace;
    font-size: 35px;
    /* margin-top: 20px; */
    margin-bottom: 25px;
}

input[name=name], input[name=email], input[name=password] {
    display: flex;
    margin: 2px auto;
    color: #000000;
    font-family: 'Fira Code', monospace;
    font-weight: 600;
    font-size: 17px;
    line-height: 2;
    padding: 2px;
    text-align: center;
    border: #0b3107 2px solid;
    border-radius: 10px;
}

input[name=name]::placeholder, input[name=email]::placeholder, input[name=password]::placeholder {
    color: #cb6161;
}

input[name=name]:hover, input[name=email]:hover, input[name=password]:hover {
    background-color: #dffce4;
}

input[name=submit_button] {
    background-color: #ffffff;
    color: #000000;
    border: 3px #000000 solid;
    border-radius: 10px;
    padding: 4px;
    font-family: 'Fira Code', monospace;
    font-weight: 600;
    font-size: 17px;
    line-height: 2;
    width: 120px;
    height: 50px;
    margin-bottom: 10px;
}

input[name=submit_button]:hover {
    background-color: #d2f4ff;
}